@import "../../common/pxToRem.scss";
@import "../../common/reset.css";

#example {
    width:  pxToRem(320px);
    height: pxToRem(57px);
    background-image: url(../img/01.png);
    background-size: 100% auto;
    display: flex;
    .txt{
      display: none;
    }
}
