@import "../../common/css/reset.css";

@import "../../common/css/pxToRem.scss";
.bg {
    width:  pxToRem(320px);
    height: pxToRem(57px);
    background-image: url(../img/01.png);
    background-size: 100% auto;
    display: flex;
    .txt{
      display: none;
    }
}
